button:hover{
        background-color: #0056b3;
        cursor: pointer;
    }
.img{
    width: 250px;
    height: auto;
    margin: 15px auto; 
    display: none;
    border: 1px solid #eee;
    border-radius: 8px;
    display: none;
}
.output {
    width: 80%;
    max-width: 600px; 
    margin: 20px auto; 
    line-height: 2; 
    font-size: 18px; 
    color: #333;
    text-align: center; 
}