#input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.span1{
    padding-right: 20px;
}
.div1{
    margin-bottom: 40px;
}
.div2{
    text-align: right;
}
.button1{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.button1:hover{
    background-color: #0056b3;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.div3{
    display: flex;
    align-items: flex-start;
}
.div4{
    width: 100%;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    display: block;
}
.div4.div3{
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}
.container{
    margin-top: 20px;
    width: 100%;
}